*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 526;
    font-style: normal;
}

.header-sc {
    background: #f8f9fa;
    padding: 10px;
    width: 100%;
}

img{
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 3px;
}

.nav-log{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

ul{
    list-style: none; 
}

a{
    text-align: center;
    text-transform: capitalize;
    color: #007bff;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
}

nav a {
    text-decoration: none;
    color: #000;
}

.nav-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
}

.btn-primary {
    background: #007bff;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 5px;
}

.hero {
    background: #e9ecef;
    height: 510px;
    padding: 50px 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.text-hero{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 90%;
    top: 120px;
    position: absolute;
    padding: 30px;
}

.text-front-hero{
    width: 40%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 18px;
    padding: 10px;
}

.price-sc{
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 60px;
}

.bottom-price-sc{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards{
    width: 29%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cards-txt{
    border: 2px solid #D0CFD4;
    width: 100%;
    text-align: center;
    padding: 20px;
    text-transform: capitalize;
}

.cards-dec{
    border: 2px solid #D0CFD4;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    gap: 30px;
}

.price-card{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 20px;
}

.list-cards li{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
    text-align: left;
    text-transform: capitalize;
    gap: 14px;
}

.req-cards{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.line-card{
    padding: 1px;
    background-color: #D0CFD4;
    width: 22%;
    border-radius: 100p;
}

.ben-cards{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.ben-cards li{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}

.cards.bottom{
    width: 90%;
}

.bt-txt-left{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    text-align: left;
    gap: 10px;
}

.cards.bottom  .text-bt{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    padding: 10px;
}

.text-front-hero i{
    font-size: 40px;
}

.text-front-hero p{
    width: 100%;
}

.jumbo-img{
    width: 60%;
}

.section-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    padding: 60px 20px;
    background: #fff;
    width: 100%;
}

.text-price{
    width: 100%;
    padding: 10px;
    display: flex ;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.check-box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.icon-check{
    padding: 10px;
    background-color: #F2F2F2;
    width: 20px;
    height: 20px;
    border-radius: 100px;
    box-shadow: inset 0px 0px 0px 5px #056CF2;
}

.icon-check:nth-of-type(2){
    padding: 10px;
    background-color: #F2F2F2;
    width: 20px;
    height: 20px;
    border-radius: 100px;
    border: 1px solid #343a40;
    box-shadow: none;
}

.section-box img {
    width: 200px;
    height: auto;
}

.text-box {
    max-width: 500px;
    text-align: left;
}

.section-box.collab{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 50px;
}

.text-box{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 13px;
}

.img-cont{
    width: 40%;
}

.img-cont img{
    width: 100%;
}

.part-btn{
    width: 140px;
    padding: 10px;
    font-family: "Raleway", serif;
    text-align: center;
    font-size: 14px;
    background-color: transparent;
    color: #343a40;
    border: 2px solid #343a40;
}

.section-box #price-collab{
    width: 100%;
    padding: 10px;
    padding-left: 90px;
}

.grid-bus{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 40px;
}

.sc-bus{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    width: 88%;
}

.text-bus{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    text-align: center;
    gap: 40px;
    text-align: left;
}

.text-bus h1{
    width: 100%;
    text-align: left;
}

footer {
    background: #343a40;
    color: white;
    padding: 40px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.footer-list {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 100px;
}

.footer-column ul{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.footer-column h4 {
    margin-bottom: 10px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column a {
    color: white;
    text-decoration: none;
}

.footer-column.bt{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 13px;
    padding: 50px;
}